<body>
  <section class="game">
    <h2>{{ constants.TITTLE }}</h2>
    <table class="game-board">
      <tr *ngFor="let row of rows; let x=index">
        <th *ngFor="let col of cols; let y=index" id="{{(x*10)+y}}" (click)="selectedCell(x,y)"
          [ngClass]="{'visible': board[(x*10)+y].visible}">
          <span *ngIf="board[(x*10)+y].visible" [ngClass]="{'boom': (x*10)+y === lastPosition && board[(x*10)+y].isMined}">{{ board[(x*10)+y].isMined ? '💣' : board[(x*10)+y].nearby }} </span>
        </th>
      </tr>
    </table>
    <section>
      {{ constants.TITTLE }} {{ totalMines }}
    </section>
  </section>

  <section class="gameOver" *ngIf="gameOver">
    <label class="gameOver-txt">
      {{ constants.LOSE }}
    </label>
    <button class="btn-reset" (click)="reset()">{{ constants.RESET }}</button>

  </section>
  <section class="gameOver" *ngIf="gameWin">
    <label class="gameOver-txt">
      {{ constants.WIN }}
    </label>
    <button class="btn-reset" (click)="reset()">{{ constants.RESET }}</button>

  </section>
</body>
